@layer utilities {
  .imageContainer {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
  }

  .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top left;
    transition: all 1s ease;
  }

  .imageContainer img:hover {
    object-position: bottom right;
  }
}
